<h1>About Us...</h1>
My name is Joe Preziuso and this is a Rails web application.
</br></br>
The purpose of this app is to allow users to create and view blog posts!
</br></br>
Feel free to look around and have fun!