<div class="section">
	<%= form_for(@post) do |f| %>

		<div class="field form-group w-25">
	  		<label for="title" class="form-label font-weight-bold">Title</label>
	  		<%= f.text_field :title, class:"form-control" %>
		</div>

		 </br></br>

		<div class="form-group w-50">
	  		<label for="content" class="form-label font-weight-bold">Content</label>
	  		<%= f.text_field :content, class:"form-control form-control-lg" %>
		</div>

		<%= f.button :submit, class: 'btn btn-primary' %>
	
		
	<% end %>

</div>