<h1 class="title">New Post</h1>

</br>

<div class="section">
	<%= simple_form_for @post do |f| %>

	<div class="field form-group">
  		<label for="exampleFormControlInput1" class="form-label">Title</label>
  		<input type="email" class="form-control font-weight-bold" id="exampleFormControlInput1">
	</div>

	 </br></br>

	<div class="field form-group">
  		<label for="exampleFormControlTextarea1" class="form-label">Content</label>
  		<textarea class="form-control font-weight-bold" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>

	<%= f.button :submit, 'Create new post', class: "btn btn-dark" %> 
	
	<% end %>

</div>

