<h1 class="title">New Post</h1>

</br>

<div class="section">
	<%= form_for(@post) do |f| %>

		<div class="field form-group">
	  		<label for="title" class="form-label font-weight-bold">Title</label>
	  		<% f.label :title %>
	  		<%= f.text_field :title, class:"form-control" %>
		</div>

		 </br></br>

		<div class="field form-group">
	  		<label for="content" class="form-label font-weight-bold">Content</label>
	  		<% f.label :content %>
	  		<%= f.text_field :content, class:"form-control input-lg" %>
		</div>

		<%= f.submit 'Create new post', class: 'btn btn-primary' %>
	
	<% end %>

</div>

